# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List of the popular languages that Data Scientists use
* List of the commonly used libraries used by Data Scientists
* List of Data Science Tools
* Examples of evaluating arithmetic expressions in Python

In [7]:
print("Some of the popular languages that Data Scientists use are:")
mylist = ["SQL", "Python", "R"]
for number, language in enumerate(mylist):
    print(number +1, language)

Some of the popular languages that Data Scientists use are:
1 SQL
2 Python
3 R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

| Data Science Tools |
---------------------
| Jupyter Notebooks |
| JupyterLab |
| RStudio IDE |
| Git |
| GitHub |
| Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
# This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = 60
z = 200/60
print (x, "minutes", "=", z, "hours")

200 minutes = 3.3333333333333335 hours

## Author
Inna Dyakonova